@{
    ViewData["Title"] = "Upload";
}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de Arquivos</title>
</head>
<body>
    <h2>Upload de Arquivos</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="fileToUpload" id="fileToUpload" accept=".txt, .pdf, .doc, .docx"> <!-- Adicione os tipos de arquivo permitidos no atributo accept -->
        <br><br>
        <input type="submit" value="Enviar Arquivo">
    </form>
</body>
