@{
    ViewData["Title"] = "Upload";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de Arquivos</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        form {
            text-align: center;
        }

        input[type="submit"] {
            background-color: blue;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="text-center">
            <h1>Upload de Arquivos</h1>
        </div>
    </div>

    <form action="/uploads" method="post" enctype="multipart/form-data">

        <div class="modal-body">

            <div class="mb-0">

                <input class="form-control form-control-lg" type="file" id="formFile" name="file">

            </div>

        </div>

        <div class="modal-footer">

            <button class="btn btn-primary">Confirmar</button>

        </div>

    </form>
</body>
</html>