@{
    ViewData["Title"] = "Upload";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de Arquivos</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        form {
            text-align: center;
        }

        input[type="submit"] {
            background-color: blue;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
        }

        .message {
            margin-top: 20px;
        }

        .success {
            color: green;
        }

        .error {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="text-center">
            <h1>Upload de Arquivos</h1>
        </div>
    </div>

    <form action="/uploads" method="post" enctype="multipart/form-data">

        <div class="modal-body">
            <div class="mb-0">
                <!-- Limitação de arquivo de até 100MB -->
                <input class="form-control form-control-lg" type="file" id="formFile" name="file" accept=".pdf,.doc,.docx,.txt,.jpg,.jpeg,.png" required>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary">Confirmar</button>
        </div>

    </form>

    @if (ViewData["SuccessMessage"] != null)
    {
        <div class="message success">
            @ViewData["SuccessMessage"]
        </div>
    }

    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="message error">
            @ViewData["ErrorMessage"]
        </div>
    }
</body>
</html>
